@import 'reset.css';

@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,300,400,500,600,700,800,900|volkhov:400,400i,700,700i);

@import url('https://fonts.cdnfonts.com/css/digital-numbers');

/* TODO : Refactor CSS */
:root {
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-family: 'Volkhov', serif;
    font-size: 52px;
    color: #484848;
    font-weight: 400;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 46px;
    font-weight: 400;
    font-family: 'Volkhov', serif;
    color: #484848;
    line-height: 1.5;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Volkhov', serif;
    color: #484848;
}

.btn {
    width: 152px;
    height: 56px;
    background: #000;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    font-family: 'Poppins', sans-serif;
    width: 1280px;
    margin: 80px auto auto;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            align-items: center;

            a:not(:last-child) {
                padding-block: 1rem;
                padding-inline: 29px;
                text-align: center;
            }
        }
    }
}

.hero-header {
    font-family: 'Poppins', sans-serif;
    width: 1280px;
    height: 800px;
    margin: 80px auto auto;

    display: flex;
    gap: 2rem;

    > div:nth-child(1) {
        background: #e0e0e0;
        width: 30%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: 10px;

        img {
            width: 100%;
        }
    }

    > div:nth-child(2) {
        /*background: red;*/
        width: 40%;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        > div:nth-child(1) {
            background: #e0e0e0;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            padding-inline: 1rem;
            padding-top: 8px;
        }

        > div:nth-child(2) {
            span:nth-child(1) {
                font-size: 91px;
                font-weight: 500;
                color: #484848;
                letter-spacing: -2px;
            }

            span:nth-child(2) {
                font-size: 187px;
                font-weight: 500;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #484848;
                letter-spacing: -3px;
            }

            span:nth-child(3) {
                color: #484848;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 8px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    margin-top: 1rem;
                    max-width: 200px;
                    width: 100%;
                }
            }
        }
    }

    > div:nth-child(3) {
        background: #e0e0e0;
        border-radius: 10px;
        width: 30%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}

.logos {
    padding-block: 5rem;
    margin-top: 1.5rem;

    margin-bottom: 100px;

    > div {
        width: 1280px;
        margin: auto;

        display: flex;
        justify-content: space-between;

        img {
            object-fit: contain;
        }
    }
}

.disclaimer {
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.deal-of-the-month {
    /*background: linear-gradient(180deg, #FFF 0%, #FAFAFA 100%);*/
    background: #fafafa;
    padding-top: 5rem;

    height: 800px;

    > div {
        max-width: 1280px;
        margin: auto;
    }

    /*DIV de droite en position absolute ? relative à une boite à droite */

    .head {
        width: 450px;
        display: flex;
        align-items: flex-start;
        flex-flow: column;
        gap: 40px;

        > div {
            display: flex;
            flex-flow: column;
            gap: 20px;

            line-height: 26px;
            text-wrap: pretty;

            p {
                color: #8a8a8a;
            }
        }
    }

    .subhead {
        margin-top: 50px;

        .timer {
            margin-top: 1rem;
        }
    }

    .timer {
        display: flex;
        gap: 15px;

        .item {
            display: flex;
            align-items: center;
            flex-flow: column;
            gap: 1rem;
            color: #484848;
        }

        .item p {
            font-size: 24px;
            line-height: 28px;
        }

        .time {
            font-family: 'Digital Numbers', sans-serif;
            font-size: 2rem;

            padding-block: 20px;
            padding-inline: 10px;

            border-radius: 10px;
            background: #fff;

            box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
        }
    }
}

.products-section {
    position: relative;
    width: auto;
    height: auto;

    .products {
        position: absolute;
        top: 0;
        left: 0;
        /*background: red;*/
        width: 1200px;
        /*height: 800px;*/

        margin-left: 5rem;

        display: flex;
        gap: 24px;
        padding-inline: 1rem;

        .image-slider {
            img {
                width: auto;
                height: 480px;
            }

            position: relative;

            .promo {
                display: flex;
                flex-flow: column;
                position: absolute;
                left: 24px;
                bottom: 24px;
                padding: 1rem;
                gap: 8px;

                > div {
                    display: inline-flex;
                    justify-content: start;
                    align-items: center;
                    gap: 12px;
                }

                color: #484848;
                background: #fff;

                span {
                    font-size: 28px;
                }
            }

            .bar {
                width: 25px;
                height: 1px;
                background: #484848;
            }

            &:first-child {
                img {
                    width: 400px;
                    height: auto;
                }
            }
        }

        .button-slider {
            position: absolute;
            bottom: 5px;
            left: 438px;
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                width: 12px;
                height: 12px;
                background: #B6B6B6;
                border-radius: 100%;
                outline: none;
                border: none;
                cursor: pointer;

                &:first-child {
                    width: 30px;
                    height: 30px;
                    background: #000;
                    outline: #000 solid 1px;
                    border: 8px solid #FFF;
                }
            }
        }
    }
}

.new-arrivals {
    max-width: 1280px;
    padding-inline: 1rem;
    margin: 150px auto;

    .head {
        text-align: center;

        .desc {
            font-size: 1rem;
            line-height: 26px;
            color: #8a8a8a;
            max-width: 600px;
            margin: auto;
        }
    }

    .categories {
        margin-top: 50px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 60px;
        margin-top: 50px;


        .product-card {
            width: 380px;
            /*height: 450px;*/
            height: auto;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0 40px 90px 0 rgba(0, 0, 0, 0.06);
            img {
                padding-inline: 25px;
                padding-block: 15px;
                width: 330px;
                height: 240px;
                border-radius: 10px;
            }

            .product-detail {
                padding-inline: 25px;
                padding-bottom: 2rem;

                .header-product-detail {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .title {
                font-size: 20px;
                font-weight: 500;
                color: #484848;
            }

            .subtitle {
                font-size: 12px;
                font-weight: 500;
                color: #8A8A8A;
            }

            .reviews {
                margin-top: 25px;
                font-size: 12px;
                font-weight: 500;
            }
            .price {
                padding-top: 25px;
                font-size: 24px;
                font-weight: 500;
                color: #484848;
            }
            .alert {
                font-size: 12px;
                font-weight: 400;
                color: #FF4646;
            }

            .product-sale {
                display: flex;
                justify-content: space-between;
                align-items: end;
            }
        }
    }
}
